<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags for  Bootstrap -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Cats Queue Management System</title>

		<link rel="stylesheet" type="text/css" href="../static/style.css">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>

	<body>
		<header>
			WELCOME!
		</header>

		<form name="token-handler" action = "../static/script.js">
			<button type="button" class="get-your-token_btn">
				<b>GET YOUR TOKEN</b>
			</button>

			<div class="user-token_rectfld">
				<!-- Display generated user token here -->
			</div>

			<input type="image" src="../static/images/copy_icon.png" class="copy-token_item">

			<input name="test-input" type="text" size="30px" class="input-token_fld">

			<button type="button" class="send-your-token_btn">
				<b>SEND YOUR TOKEN</b>
			</button>

			<!-- Queue -->
			<button class="token-queue_inactive_btn" disabled>TOKEN QUEUE</button>
			<table class="token-queue_tbl">
				<tr>
					<td>A00</td>
				</tr>

				<tr>
					<td>A01</td>
				</tr>

				<tr>
					<td>A02</td>
				</tr>
			</table>

			<button type="button" class="view-cat-image_btn">
				<b>VIEW CAT IMAGE</b>
			</button>

			<div class="cat-image_rectfld">
				<!-- Display cat image from server here -->
			</div>

			<img src="../static/images/test_cat_img.jpg" class="cat-image_img">	
		</form>

		<footer>
			IDB-19-07
		</footer>
	</body>
</html>
