{% extends 'base.html' %}


{% block content %}

<div class="get-token">
    <h4 class="get-token_header" hidden>Your token is:</h4>
    <p class="get-token_token" hidden id="token"></p>
    <input class="get-token_submit" type="submit" value="Get Token">
    <input class="get-token_copy" type="submit" value="Copy Token">
</div>

<br><br>

<div class="insert-token" hidden>
    <h4 class="insert-token_header">Send your token:</h4>
    <input class="insert-token_input" type="text" placeholder="Enter your token here">
    <input class="insert-token_submit" type="submit" value="Send Token">
    <input class="get-image_submit" type="submit" value="Get cat image">
</div>

<br><br>

<div class="queue" hidden>
    <h4 class="queue_header">Queue:</h4>
    <table class="queue_table"></table>
</div>

<div class="cat-image" hidden>
    <img class="cat-image_img" src="" alt="Cat image">
</div>

{% endblock %}


{% block scripts %}
    <script src="https://unpkg.com/cookielib/src/cookie.min.js"></script>
    <script src="{{ static('jquery.min.js') }}"></script>
    <script src="{{ static('script.js') }}"></script>
{% endblock %}